
PGADMIN_DEFAULT_EMAIL=you@example.com
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password
WEBUI_SECRET_KEY=your-secret-key
WEBUI_ADMIN_EMAIL=you@example.com
WEBUI_ADMIN_PASSWORD=your-webui-password
WEBUI_ADMIN_NAME=JeevesGPT
RAG_EMBEDDING_MODEL=nomic-embed-text:latest
BASE_MODEL=mistral-nemo