
PGADMIN_DEFAULT_EMAIL=<EMAIL_ADDRESS>
PGADMIN_DEFAULT_PASSWORD=<PASSWORD>
WEBUI_SECRET_KEY=<SECRET_KEY>
WEBUI_ADMIN_EMAIL=<EMAIL_ADDRESS>
WEBUI_ADMIN_PASSWORD=<PASSWORD>
WEBUI_ADMIN_NAME=JeevesGPT
RAG_EMBEDDING_MODEL=nomic-embed-text:latest
BASE_MODEL=mistral-nemo